setx FUSION_PROJECT_SUPABASE_DATABASE_HOST "db.xxx.supabase.co"
setx FUSION_PROJECT_SUPABASE_DATABASE_PASSWORD "xxx"
setx FUSION_PROJECT_SUPABASE_DATABASE_URL "https://xxx.supabase.co"
setx FUSION_PROJECT_SUPABASE_DATABASE_KEY "xxx.xxx.xxx"
setx FUSION_PROJECT_SUPABASE_STORAGE_URL "https://xxx.supabase.co/storage/v1/object/public"
setx FUSION_PROJECT_BUNNY_STORAGE_URL ""
setx FUSION_PROJECT_BUNNY_STORAGE_ZONE_NAME ""
setx FUSION_PROJECT_BUNNY_STORAGE_API_KEY ""
pause
