setx FUSION_PROJECT_BUNNY_STORAGE_KEY ""
setx FUSION_PROJECT_BUNNY_STORAGE_NAME ""
setx FUSION_PROJECT_BUNNY_STORAGE_URL ""
setx FUSION_PROJECT_RESEND_EMAIL "contact@fusion-project.com"
setx FUSION_PROJECT_RESEND_KEY "re_xxx_xxx"
setx FUSION_PROJECT_STRIPE_KEY "sk_live_xxx"
setx FUSION_PROJECT_SUPABASE_DATABASE_HOST "db.xxx.supabase.co"
setx FUSION_PROJECT_SUPABASE_DATABASE_IPV4_HOST "aws-xxx.pooler.supabase.com"
setx FUSION_PROJECT_SUPABASE_DATABASE_IPV4_USER "postgres.xxx"
setx FUSION_PROJECT_SUPABASE_DATABASE_KEY "sb_publishable_xxx_xxx"
setx FUSION_PROJECT_SUPABASE_DATABASE_PASSWORD "xxx"
setx FUSION_PROJECT_SUPABASE_DATABASE_URL "https://xxx.supabase.co"
setx FUSION_PROJECT_SUPABASE_STORAGE_NAME "xxx"
setx FUSION_PROJECT_SUPABASE_STORAGE_URL "https://xxx.supabase.co/storage/v1/object/public"
pause
